<div class="form-row align-items-center py-2">
    <div class="col-10">
        <div class="form-check">
            <input (change)="onToggle(todo)" type="checkbox" id="{{todo.id}}" class="form-check-input" [checked]="todo.completed">
            <label class="form-check-label" for="{{todo.id}}" [ngClass]="setClasses()">
                {{ todo.title }}
            </label>
        </div>
    </div>
    <div class="col-2">
        <button (click)="onDelete(todo)" class="btn btn-danger btn-sm col-auto"> Delete </button>
    </div>
</div>